.nav-link-custom {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: font-size 0.3s ease;
  }
  
  .nav-link-custom:hover {
    font-size: 19px;
    color: whitesmoke

  }
  .navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 20px;
}